<div class="container px3 py2">
  <div>
    <p>Service number <span class="bold">(323) 673-2344</span></p>
    <p class="h4 bold">
      <%= pluralize(@conversations.count, 'conversations') %>
    </p>
  </div>
  <div class="overflow-scroll">
    <table class="table-light overflow-hidden bg-white border rounded">
      <thead class="bg-darken-1">
        <tr>
          <th>Customer</th>
          <th>City</th>
          <th>State</th>
          <th>Messages</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each do |c| %>
          <tr>
            <td>
              <%= link_to c do %>
                <%= c.user.phone %>
              <% end %>
            </td>
            <td><%= c.user.city.titleize %></td>
            <td><%= c.user.state %></td>
            <td><%= c.messages.count %></td>
            <td>
              <span class="h4 inline-block px1 white bg-blue rounded"><%= c.current_state.name %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div><!-- /.container -->
