<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PocketBoard</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#recent">Recent</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="main">
    <h1>PocketBoard</h1>
    <p class="lead">Snap a picture, send it to <br>
    (323) 673-2344</p>
    <p>
      <h4><%= pluralize(@count, 'snap') %> sent</h4></h4>
    </p>
  </div>
  <div id="snaps"  class="row">
    <% @snaps.each do |snap| %>
    <div class="col-sm-4 item">
      <div class="snap thumbnail">
        <a href="<%= snap.media_url %>" data-lightbox="snaps">
          <div style="height:350px;width:350px;background-image: url(<%= snap.media_url %>);background-size:contain;background-repeat:no-repeat;background-position:center;"></div>
        </a>
        <div class="caption">
          <h5><%= snap.user.phone %> <small><%= time_ago_in_words(snap.created_at) %> ago</small></h5>
          <p><%= snap.body %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div><!-- /.container -->



