<!DOCTYPE html>
<html>
  <head>
    <title>ServiceMagic</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script>
      var pusher = new Pusher('564ff1eea9bff10339e8', {
        encrypted: true
      })
    </script>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>

    <script>
      window.onload = function() {
        autosize(document.querySelectorAll('.autosize'))
      }
    </script>
  </body>
</html>
